*{
    margin: 0 auto;
}
body{
    display: flex;
    justify-content: center;
}
.btn{
    margin-top: 100px;
    padding: 35px 75px;
    font-size: 26px;
    background-color: darkseagreen;
    color: #072829;
    border: none;
    border-radius: 20px;
    transition-duration: 0.3s;
}
.btn:hover{
    background-color: rgb(108, 143, 108);
    color: #bfd5d6;
    cursor: pointer;
    box-shadow: 6px 6px 5px black;
    transition-duration: 0.3s;
}

form{
    display: flex;
    flex-direction: column;
}
form label{
    margin-top: 20px;
    font-size: 25px;
}
form input, select{
    width: 150px;
    height: 30px;
}
