{# base.html.twig #}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Website{% endblock %}</title>
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <nav>
            <a href="/" class="btn btn-primary">Home</a>
            <a href="/users" class="btn btn-primary">users</a>
            <div class="dropdown" id="myDropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Data source 
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Local DB</a>
                  <a class="dropdown-item" href="#">gorest REST API</a>
                </div>
            </div>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; {{ "now"|date("Y") }} My Website</p>
    </footer>

    <script src="/jquery.js"></script>
    <script src="/popper.min.js"></script>
    <script src="/bootstrap.min.js"></script>
    <script>
    $(".dropdown-menu a").click(function(){
        var selText = $(this).text();
        let source = null
        if (selText == 'Local DB') {
            source = 'database'
        }else if (selText == 'gorest REST API') {
            source = 'api'
        }
        fetch('/changeUserStore', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ user_source: source })
            })
            .then(() => {
                location.reload(true); // Перезагрузка страницы
            })
            .catch(error => console.error('Ошибка:', error));
    });
</script>
</body>
</html>