{% extends 'base.html.twig' %}

{% block title %}Home Page{% endblock %}

{% block content %}
    <h2>Welcome to the Home Page</h2>
    <a href="/users/new"><button class="btn btn-success btn-lg" id="btn-add">Добавить пользователя</button></a>
    <a href="/find"><button class="btn btn-success btn-lg" id="btn-find">Найти пользователя</button></a>
{% endblock %}